
<div class="card w-50 mx-auto mt-4">
    <h3 class="card-header text-center">Registration Form</h3>
    <div class="card-body">
        <form action="" #r=ngForm (ngSubmit)="handleSubmit(r)">  
            <div class="form-group">
                <label>Full Name</label>
                <input type="text" ngModel name="fullName" class="form-control">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" ngModel name="email" class="form-control" required email>
                <div *ngIf="r.controls['email']?.['touched'] && r.controls['email']?.['errors']" class="invalid">
                    <div *ngIf="r.controls['email']?.['errors']?.['required']">
                        Email is required.
                    </div>
                    <div *ngIf="r.controls['email']?.['errors']?.['email']">
                        Invalid email
                    </div>
                    
                </div>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="text" ngModel name="password" class="form-control" minlength="8" required>
                <div *ngIf="r.controls['password']?.['touched'] && r.controls['password']?.['errors']" class="invalid">
                    <div *ngIf="r.controls['password']?.['errors']?.['required']">
                        Password is required.
                    </div>
                    <div *ngIf="r.controls['password']?.['errors']?.['minlength']">
                        Password is minimum 8 characters
                    </div>
                 
            </div>
            <div class="form-group">
                <label> Confirm Password</label>
                <input type="text" ngModel name="cpassword" class="form-control" required>
                <div *ngIf="r.controls['cpassword']?.['touched'] && r.controls['cpassword']?.['value']!=r.controls['cpassword']?.['value']" class="invalid">
                    <div *ngIf="r.controls['cpassword']?.['errors']?.['required']">
                        Password must match
                    </div>
                    
            </div>
            
            <label>
                Gender
            </label>
            <label>
                <input type="radio" ngModel name="gender" value="F">Female
            </label>
            <label>
                <input type="radio" ngModel name="gender" value="M">Male
            </label>
            <label>
                <input type="checkbox" ngModel name="subscribe" value="M">Subscribe
            </label>
            <button class="btn btn-primary" [disabled]="r.invalid">
                Sign Up 
            </button>

        <!--  {{r.value | json}}-->
            <div>
                {{r.valid}}
            </div>
        
    </div>
     
</div>

