<!--<!DOCTYPE html>
<html>
<div>
  <b>
    	{{ 'Laptop Charger'| slice:-8}} 
      {{ ['a','b','c','d']| slice:2}} 
      {{ 'Laptop Charger'| slice:-4:-2}} 
      {{ "6/2/2017" | date }} 
      {{ "6/2/2017, 11:30:45 AM" | date:'medium' }} 
      {{123 | sqr}}
      {{"Robin Rai" | salutation: "M"}}
  </b>
</div>
<div>
  <app-registration/>
</div>
</html>
<div>
  <app-child
    [myinputMsg]="myInputMessage"
    (myOutput)="GetChildData($event)"
  ></app-child>
</div>
<div>
  <ol>
    <li *ngFor="let bo of Books">
      the book with {{ bo.id }} is named as {{ bo.name }}
    </li>
  </ol>
</div>
<div>
  <h2>Course Details</h2>

  Select a course to view
  <select #course (change)="name = course.value">
    <option value="Node JS">Node JS</option>
    <option value="Typescript">Typescript</option>
    <option value="Angular">Angular</option>
    <option value="React JS">React JS</option></select
  ><br /><br />

  <app-courses-list [cName]="name"></app-courses-list> </div>-->

<div style="text-align: center">
  <app-login (customevent)="updateFromChild($event)"></app-login>
  {{ count }}
</div>

<div>
  <h2>Courses List</h2>

  <app-courses-list (onRegister)="courseReg($event)"></app-courses-list>
  <br /><br />

  <div *ngIf="message">{{ message }}</div>
</div>
